<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit-1.2.xsd">

    <context:property-placeholder location="classpath:spring/async/rabbitmq-async.properties"/>

    <!-- 配置ConnectionFactory -->
    <rabbit:connection-factory id="cachingConnectionFactory" host="${async.rabbit.host}"
                               port="${async.rabbit.port}" username="${async.rabbit.username}"
                               password="${async.rabbit.password}"
                               virtual-host="${async.rabbit.virtualHost}"
                               channel-cache-size="5"/>

    <!-- 配置RabbitAdmin，用于管理交换器、队列和绑定 -->
    <rabbit:admin id="rabbitAdmin" connection-factory="cachingConnectionFactory"/>

    <!-- 配置Queue -->
    <rabbit:queue id="directQueue" name="${async.rabbit.queue}" durable="false"/>

    <!-- 配置RabbitTemplate -->
    <rabbit:template id="rabbitTemplate" connection-factory="cachingConnectionFactory"
                     routing-key="${async.rabbit.routingKey}" queue="${async.rabbit.queue}"/>
</beans>
